<div *ngIf="isVisible" class="container">
   <div class="movies__type">
    <h1>Trending</h1>
     <div class="movies">
       <ul>
         <li *ngFor="let movie of nowPlayingMovies">
           <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="{{movie.title}}">
           <h3>{{movie.title}}</h3>
         </li>
       </ul>
     </div>

   </div>
   <div class="movies__type">
    <h1>Popular</h1>
     <div class="movies">
       <ul>
         <li *ngFor="let movie of popularMovies">
           <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="{{movie.title}}">
           <h3>{{movie.title}}</h3>
         </li>
       </ul>
     </div>
   </div>
   <div class="movies__type">
    <h1>Latest</h1>
   </div>
   <div class="movies__type">
    <h1>LatestUpcoming</h1>
   </div>
   <div class="movies__type">
    <h1>Top Rated</h1>
   </div>
</div>
